body,html{
    height:100%;
}

h2{
    font-weight: bold;
}

h1{
    font-weight: bold;
}

body{
    font-family: 'Nunito', sans-serif;
}

.form-sheet{
    margin-top:4rem; margin-bottom:4rem
}

.paciente{
    background-color: #9fdfcd;
}

.login{
    background-color: grey;
}

.container-fluid{
    padding: 2rem;
}