body,html{
    height:100%;
}

h2{
    font-weight: bold;
}

h1{
    font-weight: bold;
}

body{
    font-family: 'Nunito', sans-serif;
}

.paciente{
    --primary-color: #b9f6ca;
    --primary-light: #ecfffd;
    --primary-dark: #88c399;
    --secondary-color: #ff5252;
    --secondary-light: #ff867f;
    --secondary-dark: #c50e29;
    background-color: var(--primary-color);
}

.nutricionista{
    --primary-color: #ff8a80;
    --primary-light: #ffbcaf;
    --primary-dark: #c85a54;
    --secondary-color: #69f0ae;
    --secondary-light: #9fffe0;
    --secondary-dark: #2bbd7e;
}

.login{
    background-color: grey;
}

.container-fluid{
    padding: 2rem;
}

.btn.btn-primary{
    background-color: var(--secondary-color);
    border: none;
}
.btn.btn-primary:active{
    background-color: var(--secondary-dark) !important;
}
.btn:active{
    box-shadow:none !important;
}

.btn-primary.btn-group-btn{
    background-color: var(--secondary-color);
    border: none;
}

.btn-group-btn{
    margin-bottom: 1rem;
}

.btn-secondary.btn-group-btn{
    color: black;
    background-color: lightgray;
    border: none;
}
.btn-secondary.btn-group-btn:hover{
    background-color: var(--primary-light);
}
